PyJWT==2.13.0
cryptography==50.0.0
requests==2.34.2
types-requests==2.33.0.20260712
google-cloud-pubsub==2.39.1
google-cloud-storage==3.13.1
psycopg2-binary==2.9.12
types-psycopg2==2.9.21.20260724
mypy==2.3.1

#EOF
